.wrapper-div {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.submitted {
  display: flex;
  justify-content: center;
}

.emailError,
.countryError,
.zipcodeError,
.passwordError,
.confirmPasswordError,
.invalid {
  color: red;
}

.valid {
  color: rgb(75, 180, 75);
}
label {
  margin-right: 10px;
}

form {
  margin-top: 50px;
}

body {
  background-color: lightblue;
  font-weight: bold;
  font-size: 20px;
}

input {
  height: 25px;
  width: 250px;
}
